<html>
	<head>
<style>
body
{
	background: linear-gradient(to bottom right, lightblue, white);
	background-center: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#text
{
	font-size: 30px;	
	padding-top: 10%;
	font-color: red;
	
}
</style>
		<title> Read more than you can </title>
	</head>
	<body>
		<center>
		<p id="text">
			Hi
			What you will do?
		</p>
		<button onclick="location.href = '/login" id="myButton" class="float-left submit-button" >Home</button>
		<form action="/login">
			<input type="submit" value="Login">
		</form>

		<form action="/register">
			<input type="submit" value="register">
		</form>
		</center>
		
	</body>

</html>
