body{
    height: 100%;
    background: linear-gradient(to bottom right, lightblue, white);
    background-center: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#box
{
    width: 420px;
    height: 200px;
    background-color: #e6ffff;
    padding: 10px;
    border-radius: 25px 150px;
    border: 0px solid #578484;
    margin: 15%;
}
#login
{
	display: block;
	border: #ccc 1px solid;
	border-left: #8cffff 7px solid;
	border-bottom: #ccc 2px solid;
	padding: 10px;
	width:250px;
	color:#0AAAAA;
	margin-top:25px;
  	font-size:1em;
	font-color: black;
  	border-radius:2px;

}
#button
{
	height: 30px;
	width: 40%;
	background-color: #80d4ff;
	font-color: black;
	border-radius: 4px;
	border: #ccc 1px solid;
}

